#main-wrapper{
width: 500px;
height: : 200px;
background-color: rgba(0, 0, 0, 0.5);
margin: 0 auto;
margin-top: 40px;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
border-radius: 15px;
-webkit-border-radius:15px;
-o-border-radius:15px;
-moz-border-radius:15px;
color:white;
font-weight: bolder;


}


#main-wrapper1{
  width:500px;
  margin: 0 auto;
  background:white;
  padding:5px;
  border-radius:10px;
  border:2px solid #2c3e50;
}


.avatar{
  width:150px;
  text-align:center;

}
.myform{
  width:450px;
  margin: 0 auto;

}
.inputvalues{
  width:430px;
  margin:0 auto;
  padding:5px;
}
#login_btn{
  margin-top:10px;
  background-color:#27ae60;
  padding: 5px;
  color:white;
  width:100%;
  text-align: center;
  font-size:18px;
  font-weight:bold;
}





#register_btn{
  margin-bottom: 20px;
  margin-top:10px;
  background-color:#3498db;
  padding: 5px;
  color:white;
  width:100%;
  text-align: center;
  font-size:18px;
  font-weight:bold;
}


#signup_btn{
  margin-top:10px;
  background-color:#2980b9;
  padding: 5px;
  color:white;
  width:100%;
  text-align: center;
  font-size:18px;
  font-weight:bold;
}

#back_btn{
  margin-top:10px;
  background-color:#e67e22;
  padding: 5px;
  color:white;
  width:30%;
  text-align: center;
  font-size:18px;
  font-weight:bold;
}




#logout_btn{
  margin-top:10px;
  margin-bottom: 30px;
  background-color:#c0392b;
  padding: 5px;
  color:white;
  width:100%;
  text-align: center;
  font-size:18px;
  font-weight:bold;
}
